<!-- Validation failure messages -->
<% if @decision.errors.any? %>
  <% @decision.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit <%= @decision.title %>
</h1>

<hr>

<form action="/update_decision/<%= @decision.id %>" method="post">
  <!-- Label and input for user_id -->
  
  <div class="form-group">
    <label for="user_id">
      
    </label>

    <input type="hidden" id="user_id" name="user_id" class="form-control" value="<%= @decision.user_id %>">
  </div>

  <!-- Label and input for title -->
  
  <div class="form-group">
    <label for="title">
      Title
    </label>

    <input type="text" id="title" name="title" class="form-control" value="<%= @decision.title %>">
  </div>
  
  <button>Update Decision</button>
</form>
  <!-- Label and input for options -->
  
<% @decision.options.each do |option| %>
  <p>Option <%= option.id %>: <%= option.description %></p>
  
  <form action="/update_option/<%= option.id %>" method="post">
    <div class="form-group">
      <label for="descrption">      
        Description
      </label>
      
      <input type="text" id="text" name="description" class="form-control" value="<%=option.try(:description)%>">
    </div>
  
    <input type="hidden" name="user_id" value="<%= current_user.id %>">
    <input type="hidden"  name="decision_id" value="<%= @decision.id %>">
    
    <button class="">
      Update option <%= option.id %>
    </button>
  </form>
<% end %>

<hr>

<a href="/decisions">
  Go back
</a>
